<div class="container pt-5">
<div class="row border-bottom">
  <div class="col">
    <h1 class="display-1 text-center">UpR&uuml;td</h1>
  </div>
</div>

<div class="row mt-5  ">
  <div class="col text-center">
    <!--Make sure the form has the autocomplete function switched off:-->
    <form autocomplete="off" action="/kava">
      <div class="autocomplete" style="width:300px;">
        <input id="myInput" type="text" name="kava" placeholder="Kava">
        <input id="idInput" type="hidden" name="id">
      </div>
      <input type="submit">
    </form>
  </div>
</div>