<div class="container pt-5">

{{> header}}

<div class="row">
  <div class="col">
    <p>Welcome to UpRootd! Search below for your favorite kava root, and see its rating. Sign up and login to add your own rating. Happy drinking 😄 BULA!</p>
  </div>
</div>

<div class="row mt-5  ">
  <div class="col text-center">
    <!--Make sure the form has the autocomplete function switched off:-->
    <form autocomplete="off" action="/kava">
      <div class="autocomplete" style="width:300px;">
        <input id="myInput" type="text" name="kava" placeholder="Kava">
        <input id="idInput" type="hidden" name="id">
      </div>
      <input type="submit">
    </form>
  </div>
</div>