<div class="container pt-5">
  <div class="row">
    <div class="col text-center">
      <h1 class="display-2">{{kava.name}}</h1>
      <h2 class="">{{kava.country}}</h2>
      <h3 class="">{{kava.description}}</h3>
    </div>
  </div>
  
  <div class="row">
    <div class="col text-center">
      <h2 class="display-3">{{kava.rating}}</h2>
    </div>
  </div>
</div>