<div class="row">
  <div class="col center-align">
    <h1>{{kava.name}}</h1>
    <h2>{{kava.country}}</h2>
    <h3>{{kava.description}}</h3>
  </div>
</div>

<div class="row">
  <div class="col center-align">
    <h2>{{kava.rating}}</h2>
  </div>
</div>